<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.hostel.dao.BuildingDao">
  
  	<resultMap type="Building" id="BuildingResult">
  		<id property="buildingId" column="building_id"/>
  		<result property="buildingName" column="building_name"/>
  		<result property="floors" column="floors"/>
  		<result property="rooms" column="rooms"/>
  		<result property="lives" column="lives"/>
  		<result property="createTime" column="create_time"/>
  		<result property="active" column="active"/>
  		<collection property="dormitories" ofType="Dormitory">
  			<id property="dormitoryId" column="dormitory_id"/>
	  		<result property="dormitoryNumber" column="dormitory_number"/>
	  		<result property="totals" column="totals"/>
	  		<result property="active" column="active"/>
  		</collection>
  	</resultMap>
  
 	<insert id="saveBuilding">
 		insert ignore into building(building_name,floors,rooms,lives) 
 		values(#{buildingName},#{floors},#{rooms},#{lives})
 	</insert>
 	
 	<update id="updateBuilding">
 		update building 
		<set>
			<if test="buildingName != null">building_name=#{buildingName},</if>
			<if test="floors != null">floors=#{floors},</if>
			<if test="rooms != null">rooms=#{rooms},</if>
			<if test="lives != null">lives=#{lives}</if>
		</set> 
		where building_id=#{buildingId} and active=true
 	</update>
 	
 	<update id="deleteBuilding">
 		update building set active=false where building_id=#{buildingId} and active=true
 	</update>
 	
 	<select id="getById" resultMap="BuildingResult">
 		select 
 			B.building_id,
 			B.building_name,
 			B.floors,
 			B.rooms,
 			B.lives,
 			B.create_time,
 			B.active,
 			D.dormitory_id,
 			D.dormitory_number,
 			D.totals,
 			D.active 
 		from building B 
 			left join dormitory D on D.building_id=B.building_id and D.active=true 
 		where B.building_id=#{buildingId} and B.active=true
 	</select>
 	
	<select id="queryAllBuilding" resultType="Building">
	 	select 
 			building_id,
 			building_name,
 			floors,
 			rooms,
 			lives,
 			create_time,
 			active 
 		from building where active=true
	</select>
  </mapper>